= simple_form_for [:admin, @news] do |f|
  = f.error_notification

  .form-inputs
    .form-group
      %label Title
      = f.input_field :title, class: 'form-control full-width'
    .form-group
      %label Subtitle
      = f.input_field :subtitle, class: 'form-control full-width'
    .form-group
      %label Post Text
      = f.input_field :post_text, class: 'form-control full-width'
    .form-group
      %label Start Date
      = f.input_field :start_date, class: 'form-control full-width'
    .form-group
      %label End Date
      = f.input_field :end_date, class: 'form-control full-width'
    .form-group
      %label Image
      = f.input_field :main_image, as: :file, class: 'form-control full-width'

  .form-actions
    = f.button :submit, class: 'form-control full-width btn btn-default'
