.row
  .col-xs-4
    .well.well-lg
      %h1 Listing advices

      %table
        %tr
          %th Medical text
          %th Financial text
          %th Legal text
          %th Housing text
          %th
          %th
          %th

        - @advices.each do |advice|
          %tr
            %td= advice.medical_text
            %td= advice.financial_text
            %td= advice.legal_text
            %td= advice.housing_text
            %td= link_to 'Show', advice
            %td= link_to 'Edit', edit_admin_advice_path(advice)
            %td= link_to 'Destroy', advice, :method => :delete, :data => { :confirm => 'Are you sure?' }

      %br

      = link_to 'New Advice', new_admin_advice_path
