.row
  .col-xs-4
    .well.well-lg

      - if @advices.count == 0
        There is currently no advice.
        %br
        Please create some
        = link_to 'here', new_admin_advice_path

      - else
        %h3 Advice
        %dl
          - @advices.each do |advice|
            %dt
              Medical Text
            %dd
              = advice.medical_text
            %dt
              Financial Text
            %dd
              = advice.financial_text
            %dt
              Legal Text
            %dd
              = advice.legal_text
            %dt
              Housing Text
            %dd
              = advice.housing_text
            %dd
              = link_to 'Show', admin_advice_path(advice)
            %dd
              = link_to 'Edit', edit_admin_advice_path(advice)
            %dd
              = link_to 'Destroy', admin_advice_path(advice), :method => :delete, :data => { :confirm => 'Are you sure?' }
