= simple_form_for [:admin, @contact] do |f|
  = f.error_notification

  .form-inputs
    .form-group
      %label Type
      = f.input_field :type, class: 'form-control full-width'
    .form-group
      %label First Name
      = f.input_field :first_name, class: 'form-control full-width'
    .form-group
      %label Surname
      = f.input_field :surname, class: 'form-control full-width'
    %hr
    .form-group
      %label Address Line 1
      = f.input_field :address_line_1, class: 'form-control full-width'
      %label Address Line 2
      = f.input_field :address_line_2, class: 'form-control full-width'
      %label Town
      = f.input_field :town, class: 'form-control full-width'
      %label Postcode
      = f.input_field :postcode, class: 'form-control full-width'
      %label County
      = f.input_field :county, class: 'form-control full-width'
      %label Telephone number
      = f.input_field :tel, as: :tel, class: 'form-control full-width'
    %hr
    .form-group
      %label Email Address 1
      = f.input_field :email_1, as: :email, class: 'form-control full-width'
      %label Email Address 2
      = f.input_field :email_2, as: :email, class: 'form-control full-width'
    %hr
    .form-group
      %label Location
      = f.input_field :longitude, class: 'form-control full-width'
      %label Type
      = f.input_field :latitude, class: 'form-control full-width'
    .form-group
      %label Text
      = f.input_field :text, class: 'form-control full-width summernote'

  .form-actions
    = f.button :submit, class: 'form-control full-width btn btn-default'
