.row
  - if @contacts.count == 0
    .col-xs-4
      .well.well-lg
        There are currently no contacts.
        %br
        Please create some
        = link_to 'here', new_admin_contact_path

  - else
    .col-xs-12
      .well.well-lg
        %h3 Contacts
        %table.table
          %tr
            %th Type
            %th First name
            %th Surname
            %th Address
            %th Tel
            %th Email 1
            %th Email 2
            %th Longitude
            %th Latitude
            %th Text
            %th
            %th
            %th

          - @contacts.each do |contact|
            %tr
              %td= contact.type
              %td= contact.first_name
              %td= contact.surname
              %td
                = contact.address_line_1
                = contact.address_line_2
                = contact.town
                = contact.postcode
                = contact.county
              %td= contact.tel
              %td= contact.email_1
              %td= contact.email_2
              %td= contact.longitude
              %td= contact.latitude
              %td= contact.text
              %td= link_to 'Show', admin_contact_path(contact)
              %td= link_to 'Edit', edit_admin_contact_path(contact)
              %td= link_to 'Destroy', admin_contact_path(contact), :method => :delete, :data => { :confirm => 'Are you sure?' }
        %br
        = link_to 'New Contact', new_admin_contact_path
