%h1 Listing your_supports

%table
  %tr
    %th Text
    %th
    %th
    %th

  - @your_supports.each do |your_support|
    %tr
      %td= your_support.text
      %td= link_to 'Show', your_support
      %td= link_to 'Edit', edit_admin_your_support_path(your_support)
      %td= link_to 'Destroy', your_support, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Your support', new_admin_your_support_path
