= simple_form_for [:admin, @what_we_offer] do |f|
  = f.error_notification

  .form-inputs
    = f.input :activities_text, input_html: { class: 'form-control full-width summernote' }
    %br
    = f.input :groups_text, input_html: { class: 'form-control full-width summernote' }
    %br

  .form-actions
    = f.button :submit, class: 'form-control full-width btn btn-default'
