<%# add navigation links to this file %>
<li><%= link_to 'Home', root_path %></li>
<li><%= link_to 'What we Offer', root_path %></li>
<li><%= link_to 'The Team', root_path %></li>
<li><%= link_to 'Advice', root_path %></li>
<li><%= link_to 'Contact', root_path %></li>
<li><%= link_to 'News', root_path %></li>
<li><%= link_to 'Your Support', root_path %></li>
<% if user_signed_in? %>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>
<% if user_signed_in? %>
  <% if current_user.admin? %>
    <li><%= link_to 'Users', users_path %></li>
  <% end %>
<% end %>


<!--What we offer (static)-->
<!--activities_text-->
<!--groups_text-->

<!--The team (static)-->
<!--trustees_text-->
<!--staff_text-->
<!--volunteers_text-->

<!--Advice (static)-->
<!--medical_text-->
<!--financial_text-->
<!--legal_text-->
<!--housing_text-->

<!--Contact (static)-->
<!--text-->
<!--first_name, surname, type (manager, assistant manager, etc)-->
<!--address_line_1, address_line_2, town, postcode, county, tel, email_1, email_2-->
<!--longitude, latitude (Google Map)-->

<!--News (Create, Update, Show, Delete)-->
<!--title, subtitle, post_text, start_date, end_date, main_image-->

<!--Your Support-->
<!--text-->

