<%# add navigation links to this file %>
<li><%= link_to 'Home', root_path %></li>
<li><%= link_to 'What we Offer', root_path %></li>
<li><%= link_to 'The Team', root_path %></li>
<li><%= link_to 'Advice', root_path %></li>
<li><%= link_to 'Contact', root_path %></li>
<li><%= link_to 'News', root_path %></li>
<li><%= link_to 'Your Support', root_path %></li>
